<h1>ANGULAR COMPONENTS</h1>
<nav>
<a routerLink="/">Homepage</a>
<br>
<a routerLink="/login">Login</a>
<br>
<a routerLink="/signup">Signup</a>
<br>
<a routerLink="/landingpage">Landing Page</a>
<br>
<a routerLink="/displayhelloworld">Display Hello World</a>
<br>
<a routerLink="/showhellobutton">Show Hello Button</a>
<br>
<a routerLink="/displayname">Display Name</a>
<br>
<a routerLink="/counter">Counter</a>
<br>
<a routerLink="/simpleform">Simple Form</a>
<br>
<a routerLink="/userage">User Age</a>
<br>
<a routerLink="/usergreeting">User Greeting</a>
<br>
<a routerLink="/calculator">Calculator</a>
<br>
<a routerLink="/textlength">Text Length</a>
<br>
<a routerLink="/currencyconverter">Currency Converter</a>
<br>
<a routerLink="/evenoddchecker">Even Odd Checker</a>
<br>
<a routerLink="/wordreverser">Word Reverser</a>
<br>
<a routerLink="/showdate">Show Date</a>
<br>
<a routerLink="/showusername">Show Username</a>
<br>
<a routerLink="/multiplicationtable">Multiplication Table</a>
<br>
<a routerLink="/simplelogin">Simple Login</a>
<br>
<a routerLink="/fahrenheittocelsius">Fahrenheit to Celsius</a>
<br>
<a routerLink="/bookmarklist">Bookmark List</a>
<br>
<a routerLink="/charactercounter">Character Counter</a>
<br>
<a routerLink="/palindromechecker">Palindrome Checker</a>
<br>
<a routerLink="/temperatureconverter">Temperature Converter</a>
<br>
<a routerLink="/shoppinglist">Shopping List</a>
<br>
<a routerLink="/factorialcalculator">Factorial Calculator</a>
<br>
<a routerLink="/todomanager">To Do Manager</a>
<br>
<a routerLink="/guessnumbergame">Guess Number Game</a>
<br>
<a routerLink="/wordcounter">Word Counter</a>
<br>
<a routerLink="/randomnumbergenerator">Random Number Generator</a>
<br>
<a routerLink="/multiplicationchecker">Multiplication Checker</a>
<br>
<a routerLink="/uppercaseconverter">Upper Case Converter</a>
<br>
<a routerLink="/wordshuffler">Word Shuffler</a>
<br>
<a routerLink="/bmisolver">Bmi Solver</a>
<br>
<a routerLink="/usernamevalidator">Username Validator</a>
<br>
<a routerLink="/interestcalculator">Interest Calculator</a>
<br>
<a routerLink="/compoundinterestcalculator">Compound Interest Calculator</a>
<br>
<a routerLink="/fibonaccigenerator">Fibonacci Generator</a>
<br>
<a routerLink="/oddsumcalculator">Odd Sum Calculator</a>
<br>
<a routerLink="/currencyformatter">Currency Formatter</a>
<br>
<a routerLink="/randomquotedisplay">Random Quote Display</a>
<br>
<a routerLink="/uppercasegreeting">Uppercase Greeting</a>
<br>
<a routerLink="/divisiblechecker">Divisible Checker</a>
<br>
<a routerLink="/rockpaperscissors">Rock Paper Scissors</a>
<br>
<a routerLink="/oddorevengame">Odd or Even Game</a>
<br>
<a routerLink="/stopwatchesimulator">Stopwatch E-Simulator</a>
<br>
<a routerLink="/rollthedice">Roll the Dice</a>
<br>
<a routerLink="/randomcolorpicker">Random Color Picker</a>
<br>
<a routerLink="/numbersequencegame">Number Sequence Game</a>
<br>
<a routerLink="/primechecker">Prime Checker</a>
<br>
<a routerLink="/guessthewordgame">Guess the Word Game</a>
<br>
<a routerLink="/randomletterpicker">Random Letter Picker</a>
<br>
<a routerLink="/numbercomparer">Number Comparer</a>

</nav>
<router-outlet></router-outlet>